@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

::-webkit-input-placeholder {
    text-align: center;
    color: #212227;
}
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
    color: #212227;

}
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
    color: #212227;

}
 
 :-ms-input-placeholder {  
    text-align: center; 
    color: #212227;
}

body {
    background: lightblue;
}
/* GLOBALS */
.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* END GLOBALS */
.form_container{
    position: relative;
    height: 90vh;
    width: 50%;
}

.form_box{
    color: white;
    text-shadow: 1px 0px 0px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, .4);
    height: 80%;
}

.form_box label{
    font-size: 2rem;
    margin: 10px 0px;
}

.form_box input{
    width: 300px;
    height: 40px;
    border: none;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, .4);
    background-color: transparent;
    transition: .3s all;
    border-bottom: 2px solid transparent;
}


.form_box input[name=attachment]{
    box-shadow: none;
}

.form_box input[id=submit]{
    width: 150px;
    /* border: n; */
    border-radius: 999px;
    box-shadow: none;
    background-color: black;
    color: white;
}

.form_box label[for=attachment]{
    margin: 25px 0px;
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;
}

.form_box input[id=submit]:hover{
    background-color:rgb(24, 24, 24);
}

.form_box input:focus, .form_box input:hover{
    background-color: #3185FC;
    border-bottom: 2px solid #5A95D8;
    outline: none;
}

/* MEDIAS */
@media only screen and (min-width: 1200px) {
    body{
        background: linear-gradient(15deg, #3E7CB1, #054A91);
    }    
}
/* END MEDIAS */